:root {
    --Preto: #2C2626;
    --Preto75: #2C2626bf;
    --Preto50: #2C262680;
    --azul: #44C4FF;
    --azul50: #44c4ff80;
    --azul25: #44C4FF40;
    --verde: #7EFF89;
    --verde50: #7EFF8980;
    --verde25: #7EFF8940;
}

@font-face {
    font-family: 'Nunito';
    src: url(/Fonts/Nunito/static/Nunito-SemiBold.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.header {
    z-index: 9999;
    position: relative;
    height: 7vh;
    background-color: var(--azul);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .nav1 {
        margin-top: 1vw;
        margin-left: 4vw;
        margin-right: 4vw;
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 25vw;
        justify-content: space-around;
        align-items: center;

        a {
            color: var(--Preto);
            text-decoration: none;
        }
    }

    .nav2 {
        margin-top: 1vw;
        margin-left: 4vw;
        margin-right: 4vw;
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 25vw;
        justify-content: space-around;
        align-items: center;

        a {
            color: var(--Preto);
            text-decoration: none;
        }
    }
}

.header1 {
    position: absolute;
    top: 2vh;
    fill: var(--azul);
    height: 15vh;
    width: 100%;
    z-index: 99;
}

.header2 {
    position: absolute;
    top: 5vh;
    fill: var(--azul50);
    height: 15vh;
    width: 100%;
    z-index: 98;
}

.header3 {
    position: absolute;
    top: 7vh;
    fill: var(--azul25);
    height: 15vh;
    width: 100%;
    z-index: 98;
}

.wave{
    width: 100%;
}

.wave0 {
    position: absolute;
    top: 5vh;
    background-color: var(--verde);
    height: 35vh;
    width: 100%;
    z-index: 97;
}

.wave0-info {
    margin-top: 6vh;
    position: absolute;
    top: 4vh;
    background-color: var(--verde);
    height: 30vh;
    width: 100%;
    z-index: 9999;
}

.wave1 {
    position: absolute;
    fill: var(--verde);
    top: 40vh;
    height: 15vh;
    width: 100%;
    z-index: 96;
}

.wave2 {
    position: absolute;
    top: 43vh;
    fill: var(--verde50);
    height: 15vh;
    width: 100%;
    z-index: 95;
}

.wave3 {
    position: absolute;
    top: 45vh;
    fill: var(--verde25);
    height: 15vh;
    width: 100%;
    z-index: 94;
}

.logo {
    margin-right: 1vw;
    height: 7vh;
    top: 1vh;
}

.login {
    background-color: transparent;
    padding: 1vh 1.5vh;
    color: var(--Preto);
    border-color: var(--Preto);
    border-radius: 1vh;
    border-style: solid;
    cursor: pointer;
}

.cadastro {
    background-color: var(--Preto);
    padding: 1vh 1.5vh;
    color: var(--azul);
    border-color: var(--Preto);
    border-radius: 1vh;
    border-style: solid;
    cursor: pointer;
}

.darkMode {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.searchBar {
    margin-top: 2vh;
    width: 33%;
    padding: 1vh;
    border: none;
    border-radius: 1vw;
    background-image: url('/Imagens/lupa.png');
    background-size: 2vh;
    background-repeat: no-repeat;
    background-position: 31vw;
}

.searchBar::placeholder {
    color: var(--Preto75)
}

.searchBar:focus {
    outline: none;
}

#text-wave0 {
    margin-left: 5vw;
    margin-top: 8vh;
    font-size: 4vh;
    width: 35vw;
}

#projetosDestaque {
    position: relative;
    margin-top: 67vh;
    width: 100%;
    height: auto;
    z-index: 100;
}

#destaqueTitle {
    color: var(--Preto);
    font-size: 3vh;
    margin-left: 6vw;
    margin-bottom: 1vh;
}

#projetos-destaque {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10vh;
    img{
        width: 25vw;
        max-height: 25vh;
        border-radius: 15px;
    }
}

#projetosRecomendados {
    position: relative;
    margin-top: 10vh;
    width: 100%;
    z-index: 100;
}

#recomendadosTitle {
    color: var(--Preto);
    font-size: 3vh;
    margin-left: 6vw;
    margin-bottom: 1vh;
}

#projetos-recomendados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10vh;
    img{
        width: 25vw;
        max-height: 25vh;
        border-radius: 15px;
    }
}

.destaque1, .destaque2, .destaque3 {
    border: 1px solid var(--Preto50);
    border-radius: 10px;
}

footer {
    width: 100%;
    margin-top: 30vh;
}

.ondasFooter {
    position: absolute;
    width: 100%;
}

.footer1 {
    height: 15vh;
    position: absolute;
    bottom: 0vh;
    width: 100%;
    fill: var(--azul);
    z-index: 99;
    transform: scaleY(-1);
}

.footer2 {
    height: 15vh;
    position: absolute;
    bottom: 3vh;
    left: 0;
    width: 100%;
    fill: var(--azul50);
    z-index: 98;
    transform: scaleY(-1);
}

.footer3 {
    height: 15vh;
    position: absolute;
    bottom: 5vh;
    left: 0;
    width: 100%;
    fill: var(--azul25);
    z-index: 97;
    transform: scaleY(-1);
}

#footerItems {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50vw;
    align-items: center;
    justify-content: space-around;
}

#footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-bottom: 2vh;
    width: 100vw;
    background-color: var(--azul);
    text-align: center;
}

#topFooterContent {
    width: fit-content;
    margin: auto;
}

#topFooterContent a {
    text-decoration: none;
    color: var(--Preto);
    font-size: larger;
}

#bottomFooterContent {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#bottomFooterContent span {
    color: var(--Preto);
    font-size: larger;
}

#footerLine {
    margin-top: 3vh;
    border: none;
    border-top: 1px solid var(--Preto);
}